.service-card

    .service-card-account
        opacity: .7
        margin-bottom: .5em
        margin-top: -.25em
        font-weight: bold

    .service-card-account-hidden
        opacity: 0
        cursor: default

.servicePasswordInputText
    width: 100%